@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --font: "Roboto", sans-serif; 
    --dark-color: #21243d;
    --primary: #ff6464;
    --bg: #edf7fa;
    --white: white;
    --secondary: #00a8cc;
    --transition: .3s linear;


}
/********* basic style ***********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: var(--font);
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-color);
    font-weight: 400;
}

a {
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--primary);
}

h1,h2,h3,h4 {
    color: var(--dark-color);
    font-weight: 700;
}

.container {
    width: 920px;
    margin: auto;
}
/************* nav ***********/
nav {
    margin-top: 27px;
    margin-right: 60px;
    display: flex;
    justify-content: flex-end;
}

nav li {
    display: inline-block;
}

nav ul li a {
    font-weight: 500;
    font-size: 20px;
    color: var(--dark-color);
    margin-left: 33px;
}
