@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --font: "Roboto", sans-serif; 
    --dark-color: #21243d;
    --primary: #ff6464;
    --bg: #edf7fa;
    --white: white;
    --secondary: #00a8cc;
    --transition: .3s linear;


}
/********* basic style ***********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: var(--font);
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-color);
    font-weight: 400;
}

a {
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--primary);
}

h1,h2,h3,h4 {
    color: var(--dark-color);
    font-weight: 700;
}

button {
    background: var(--primary);
    color: var(--white);
    padding: 10px 20px;
    cursor: pointer;
    transition: var(--transition);
    border: none;
    font-size: 20px;
    font-weight: 500;
}

button:hover {
    background: var(--dark-color);
}

.container {
    width: 920px;
    margin: auto;
}

/************* nav ***********/
nav {
    margin-top: 27px;
    margin-right: 60px;
    display: flex;
    justify-content: flex-end;
}

nav li {
    display: inline-block;
}

nav ul li a {
    font-weight: 500;
    font-size: 20px;
    color: var(--dark-color);
    margin-left: 33px;
}

/********** header ********/
header {
    padding: 170px 0 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div:first-child {
    flex: 0 0 70%;
}

header div:last-child {
    flex: 0 0 25%;
}

header img {
    width: 100%;
    border-radius: 100%;
}

header h1 {
    font-size: 44px;
}

header p {
    padding: 20px 0 40px 0;
}

/********** posts ********/
.recent-posts {
    padding: 35px 0;
    background: var(--bg);
}

.recent-posts .row:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.recent-posts .row:first-child p {
    font-size: 22px;
}

.recent-posts .row:first-child a {
    color: var(--secondary);
}

.recent-posts .row:first-child a:hover {
    color: var(--primary);
}

.recent-posts .row:last-child {
    display: flex;
    justify-content: space-between;
}

.recent-posts .post {
    background: var(--white);
    flex: 0 0 48%;
    padding: 25px;
}

.recent-posts .post h3 {
    font-size: 26px;
}

.recent-posts .post h3 + p {
    margin: 15px 0;
}